body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h2 {
    color: #333;
}

label {
    font-weight: bold;
}

select, input, button {
    margin-bottom: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}

p {
    color: #333;
    font-weight: bold;
}
